* {
    box-sizing: border-box;
  }
  
  .color-picker{
    z-index: 999;
    display: inline-block;
    top: 200px;
    left: 0px;
    position: absolute;
  }

  .button-click{
    z-index: 999;
    top: 130px;
    left: 0px;
    position: absolute;
  }

  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: 'pointer';
  }
  
  .colors {
    position: absolute;
    top: 70px;
    left: 0;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
    cursor: pointer;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }